<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<!--<conversionRule conversionWord="trace" converterClass="com.lsy.TraceConverter" />-->

	<appender name="info"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/bdp_hadoop_api.log</File>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
			<!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{traceId} %X{spanId} [%thread] %-5level %logger{0} - %msg%n</pattern>-->
			<pattern>[%-5level][%d{YYYY-MM-dd'T'HH:mm:ss.SSS+0800}][%thread %F:%line] %n</pattern>

		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logs/bdp_hadoop_api.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
			<maxHistory>31</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="error"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">

		<File>logs/bdp_hadoop_api_error.log</File>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
			<!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{traceId} %X{spanId} [%thread] %logger{0} - %msg%n</pattern>-->
			<pattern>[%-5level][%d{YYYY-MM-dd'T'HH:mm:ss.SSS+0800}][%thread %F:%line] %n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logs/bdp_hadoop_api_error.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
			<maxHistory>31</maxHistory>
		</rollingPolicy>
	</appender>


	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
			<!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{traceId} %X{spanId} [%thread] %logger{0} - %msg%n</pattern>-->
			<pattern>[%-5level][%d{YYYY-MM-dd'T'HH:mm:ss.SSS+0800}][%thread %F:%line] %n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>


	<logger name ="java.sql" level="DEBUG">
		<appender-ref ref="console" />
		<appender-ref ref="error" />
	</logger>

	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="error" />
	</root>

</configuration>